name: Build and Publish

on:
  push:
    paths:
    - 'Dockerfile'
    - 'docker-bake.hcl'
    - '*.sh'
    - '*.sql'
    - 'scripts/*.*'
    branches:
    - master
  workflow_dispatch:
    inputs:
      push:
        description: 'Push to Container Registry'
        type: boolean
        required: true
        default: true

env:
  GHCR_SLUG: ghcr.io/${{ github.repository }}

jobs:
  build-and-push-images:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Buildx Setup
      id: buildx
      uses: docker/setup-buildx-action@v3.6.1

    - name: Log in to the Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and Push Images
      uses: docker/bake-action@v2
      env:
        GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
        BUILDX_NO_DEFAULT_ATTESTATIONS: 1
      with:
        files: |
          ./docker-bake.hcl
        set: |
          *.cache-from=type=gha
          *.cache-to=type=gha,mode=max
        targets: 'default'
        push: ${{ github.event.inputs.push || true }}
